#about
    padding: 100px 0
    .first
        margin-bottom: 60px
        h1
            font-size: 45px
            font-weight: 700
            margin: 0 0 20px
            &:hover
                cursor: text
        h3
            font-size: 18px
            font-style: italic
            color: #6a7380
            &:hover
                cursor: text
    .box
        display: flex
        position: relative
        align-items: center
        justify-content: flex-start
        margin-left: 130px
        .textbox
            width: 400px
            text-align: right
            margin-right: 40px
            h2,h4
                line-height: 1.5
                font-size: 25px
                font-weight: 700
                &:hover
                    cursor: text
            p
                font-size: 18px
                color: #6a7380
                line-height: 1.5
        .imgbox
            width: 150px
            height: auto
            border: 7px solid #e9ecef
            border-radius: 100%
    .left
        justify-content: flex-end
        align-items: center
        margin: 100px 0
        margin-right: 100px
        .textbox
            text-align: left
            margin-left: 40px
    .son
        margin-right: 100px
        .end
            text-align: center
            width: 140px
            height: 140px
            background-color: #ffc800
            border: 7px solid #e9ecef
            border-radius: 50%
            padding: 0 25px
            h2
                color: #ffff
                font-size: 20px
                font-weight: 700
    
