#ourteam
    background-color: #c0c0c020
    .textbox
        margin-top: 100px
        margin-bottom: 60px
        line-height: 1.5
        h1
            font-size: 45px
            font-weight: 700
        h3
            font-size: 18px
            color: #6a7380
            font-style: italic
    .box
        .imgbox
            width: 220px
            border-radius: 50%
            border: 8px solid #87818131
        .textbox
            text-align: center
            margin: 15px 0
            h2
                font-size: 24px
                font-weight: 700
            h4
                font-size: 18px
                color: #6a7380
        ul
            display: flex
            justify-content: center
            li
                margin: 10px
                .icon
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    width: 50px
                    height: 50px
                    background-color: #000
                    border-radius: 50%
                    i
                        color: #ffff
    .wid
        margin-top: 30px
        margin-bottom: 100px
        p
            font-size: 18px
            color: #6a7380
    @media screen and ( max-width: 576px)
        .wid
            p
                font-size: 16px

    @media screen and ( max-width: 768px  )
        .textbox
            h3
                font-size: 16px
        .wid
            margin-top: 0
            p
                padding: 0
        .box
            ul
                margin-bottom: 20px

    @media screen and ( max-width: 992px )
        .wid
            p
                font-size: 18px
