body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox {
  overflow: hidden;
}
body .imgbox img {
  width: 100%;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: #212529;
  position: fixed;
  top: 0;
  z-index: 99;
}
header .menu .imgbox img {
  width: 50%;
}
header .menu .imgbox img:hover {
  cursor: pointer;
}
header .menu nav {
  display: block;
}
header .menu nav a {
  margin: 0 13px;
  color: #d2d2d4;
  font-size: 16px;
}
header .menu nav a:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .menu nav {
    display: none;
  }
}

#welcome {
  height: 100vh;
  width: 100vw;
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
#welcome .textbox {
  line-height: 1.6;
  flex-direction: column;
  text-align: center;
}
#welcome .textbox h1 {
  margin: 55px 0 0 0;
  font-size: 45px;
  font-style: italic;
  color: white;
}
#welcome .textbox h1:hover {
  cursor: text;
}
#welcome .textbox h3 {
  font-size: 77px;
  font-weight: 700;
  color: white;
}
#welcome .textbox h3:hover {
  cursor: text;
}
#welcome .textbox .btn {
  margin: 40px 0 0 0;
  width: 220px;
  height: 70px;
  background-color: #ffc800;
  border-radius: 6px;
}
#welcome .textbox .btn h5 {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#welcome .textbox .btn h5:hover {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  #welcome .textbox {
    line-height: 1;
  }
  #welcome .textbox h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  #welcome .textbox h3 {
    font-size: 60px;
  }
}

#services {
  padding: 100px 0;
}
#services .bgc h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#services .bgc h1:hover {
  cursor: text;
}
#services .bgc h3 {
  font-size: 19px;
  font-style: italic;
  color: #6a7380;
}
#services .bgc h3:hover {
  cursor: text;
}
#services .box {
  padding: 70px 0;
  flex-direction: column;
}
#services .box .icon {
  background-color: #ffc800;
  width: 125px;
  height: 125px;
  color: white;
  border-radius: 50%;
}
#services .box .icon i {
  font-size: 70px;
}
#services .box .textbox {
  line-height: 1.5;
}
#services .box .textbox h2 {
  margin: 10px 0 0 0;
  font-size: 27px;
  font-weight: 700;
}
#services .box .textbox h2:hover {
  cursor: text;
}
#services .box .textbox p {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 19px;
  color: #6a7380;
}
#services .box .textbox p:hover {
  cursor: text;
}
@media screen and (max-width: 992px) {
  #services .bgc h3 {
    margin: 0 0 50px 0;
  }
  #services .box {
    padding: 10px 0;
  }
}

#portfolio {
  padding: 0 0 70px 0;
  background-color: #f8f9fa;
}
#portfolio .bcc {
  margin: 85px 0 55px;
}
#portfolio .bcc h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 700;
}
#portfolio .bcc h1:hover {
  cursor: text;
}
#portfolio .bcc h3 {
  font-size: 19px;
  color: #6a7380;
  font-style: italic;
}
#portfolio .bcc h3:hover {
  cursor: text;
}
#portfolio .box {
  background-color: white;
  margin: 0 0 20px 0;
}
#portfolio .box .imgbox {
  position: relative;
  width: 100%;
}
#portfolio .box .imgbox .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #ffc800;
  opacity: 0.9;
  transition: 0.5s;
}
#portfolio .box .imgbox img:hover {
  cursor: pointer;
}
#portfolio .box .textbox h2 {
  margin: 15px 0 10px 0;
  font-size: 30px;
  font-weight: 700;
}
#portfolio .box .textbox h2:hover {
  cursor: text;
}
#portfolio .box .textbox h5 {
  padding: 0 0 10px;
  font-size: 18px;
  font-style: italic;
  color: #6a7380;
}
#portfolio .box .textbox h5:hover {
  cursor: text;
}

#about {
  padding: 100px 0;
  @medi;
}
#about .first {
  margin-bottom: 60px;
}
#about .first h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 20px;
}
#about .first h1:hover {
  cursor: text;
}
#about .first h3 {
  font-size: 18px;
  font-style: italic;
  color: #6a7380;
}
#about .first h3:hover {
  cursor: text;
}
#about .box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 130px;
}
#about .box .textbox {
  width: 400px;
  text-align: right;
  margin-right: 40px;
}
#about .box .textbox h2, #about .box .textbox h4 {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 700;
}
#about .box .textbox h2:hover, #about .box .textbox h4:hover {
  cursor: text;
}
#about .box .textbox p {
  font-size: 18px;
  color: #6a7380;
  line-height: 1.5;
}
#about .box .imgbox {
  width: 150px;
  height: auto;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
#about .left {
  justify-content: flex-end;
  align-items: center;
  margin: 100px 0;
  margin-right: 100px;
}
#about .left .textbox {
  text-align: left;
  margin-left: 40px;
}
#about .son {
  margin-right: 100px;
}
#about .son .end {
  text-align: center;
  width: 140px;
  height: 140px;
  background-color: #ffc800;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  padding: 0 25px;
}
#about .son .end h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */